{% load static %}
<!doctype html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'foodrescue/base.css' %}" />
    <link rel="stylesheet" href="{% static 'foodrescue/navbar-public.css' %}" />
    <link rel="stylesheet" href="{% static 'foodrescue/public/registration-submitted.css' %}" />
    <link rel="stylesheet" href="{% static 'foodrescue/footer.css' %}" />

    <title>Application Submitted</title>
  </head>

  <body>
    {% include "foodrescue/includes/navbar_public.html" %}

    <main class="submitted-page">
      <section class="submitted-message">
        <h1>Your application has been<br />submitted!</h1>
        <p>It will take about 2-5 business days for us to review your application.</p>

        <a href="{% url 'login' %}" class="back-login-button">
          Back to Log In
        </a>
      </section>
    </main>

    {% include "foodrescue/includes/footer.html" %}
  </body>
</html>