{% load static %}
<!doctype html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'foodrescue/base.css' %}">
        <link rel="stylesheet" href="{% static 'foodrescue/navbar-establishment.css' %}">
        <link rel="stylesheet" href="{% static 'foodrescue/establishment/establishment-food-detail.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
        <title>Food Listing Details</title>
    </head>
    <body>
        {% include "foodrescue/includes/navbar_establishment.html" %}
        <main class="page-wrapper">
            <div class="section-title-wrapper">
                <h1 class="section-title">Food Listing Details</h1>
                <h2>Listing ID: {{ food_listing.id }}</h2>
            </div>
            <section class="listing-details-section">
                <div class="listing-image-box">
                    {% if food_listing.image %}
                    <img src="{{ food_listing.image.url }}" class="listing-detail-image" alt="{{ food_listing.name }}">
                    {% else %}
                    <div class="listing-image-placeholder"></div>
                    {% endif %}
                </div>
                <div class="listing-details-form">
                    <div class="detail-group">
                        <span class="detail-label">Name:</span>
                        <span class="detail-value">{{ food_listing.name }}</span>
                    </div>
                    <div class="detail-group">
                        <span class="detail-label">Category:</span>
                        <span class="detail-value">{{ food_listing.get_category_display }}</span>
                    </div>
                    <div class="detail-group">
                        <span class="detail-label">Storage type:</span>
                        <span class="detail-value">
                            {% if food_listing.storage_type %}
      {{ food_listing.get_storage_type_display }}
    {% else %}
      Not stated
    {% endif %}
                        </span>
                    </div>
                    <div class="detail-group">
                        <span class="detail-label">Allergens:</span>
                        <span class="detail-value">
                            {% if food_listing.allergens %}
                {{ food_listing.allergens }}
              {% else %}
                None stated
              {% endif %}
                        </span>
                    </div>
                    <div class="detail-group">
                        <span class="detail-label">Total weight:</span>
                        <span class="detail-value">{{ food_listing.weight_kg }} kg</span>
                    </div>
                    <div class="detail-group">
                        <span class="detail-label">Expiry date:</span>
                        <span class="detail-value">{{ food_listing.expiry_date }}</span>
                    </div>
                    <div class="detail-group">
                        <span class="detail-label">Halal:</span>
                        <span class="detail-value">
                            {% if food_listing.is_halal %}
                Yes
              {% else %}
                No
              {% endif %}
                        </span>
                    </div>
                    <div class="detail-group description-group">
                        <span class="detail-label">Description:</span>
                        <span class="detail-value">
                            {% if food_listing.description %}
      {{ food_listing.description }}
    {% else %}
      No description provided.
    {% endif %}
                        </span>
                    </div>
                    <div class="listing-bottom-info">
                        {% if pickup_reservation %}
                        <p>Pickup date: {{ pickup_reservation.pickup_date|date:"d/m/Y" }}</p>
                        <p>Pickup time: {{ pickup_reservation.pickup_time|time:"H:i" }}</p>
                        {% else %}
                        <p>Pickup date:</p>
                        <p>Pickup time:</p>
                        {% endif %}

  {% if food_listing.status == "completed" %}
                        <div class="listing-status-pill completed-pill">
                            Completed
                        </div>
                        {% elif food_listing.status == "reserved" %}
                        <div class="listing-status-pill reserved-pill">
                            Reserved
                        </div>
                        {% elif food_listing.status == "available" %}
                        <div class="listing-status-pill available-pill">
                            Available
                        </div>
                        {% elif food_listing.status == "expired" %}
                        <div class="listing-status-pill expired-pill">
                            Expired
                        </div>
                        {% endif %}
                    </div>
                </div>
            </section>
            <section class="listing-reservations-section">
                <br>
                {% if food_listing.status == "available" and reservations %}
                <section class="listing-reservations-section">
                    <h2>Pending Pickup Requests</h2>
                    <h3>These are reservation requests for this specific food listing.</h3>
                    <div class="dashboard-content">
                        <section class="requests-panel">
                            <div class="listings-scroll">
                                <div class="requests-sent">
                                    {% for reservation in reservations %}
                                    <article class="reservation-card">
                                        <div class="upper-card">
                                            {% if reservation.organisation.profile_image %}
                                            <img src="{{ reservation.organisation.profile_image.url }}" alt="{{ reservation.organisation.organisation_name }}" class="reservation-image">
                                            {% else %}
                                            <div class="reservation-image"></div>
                                            {% endif %}
                                            <div class="reservation-info">
                                                <h2 class="food-card-header">
                                                    {{ reservation.organisation.organisation_name }}
                                                </h2>
                                                <p class="food-card-detail food-name">
                                                    Requested item: {{ reservation.food_listing.name }}
                                                </p>
                                                <p class="food-card-detail">
                                                    Request ID: {{ reservation.id }}
                                                </p>
                                                <p class="food-card-detail">
                                                    Pickup Date: {{ reservation.pickup_date }}
                                                </p>
                                                <p class="food-card-detail">
                                                    Pickup Time: {{ reservation.pickup_time }}
                                                </p>
                                                <p class="food-card-detail">
                                                    Sent on: {{ reservation.created_at|date:"d/m/Y" }}
                                                </p>
                                            </div>
                                            <div class="reservation-status">
                                                <div class="request-action-buttons">
                                                    <form method="POST" action="{% url 'approve_reservation' reservation.id %}" onsubmit="return confirm('Are you sure you want to accept this reservation request?');">
                                                        {% csrf_token %}
                                                        <button type="submit" class="accept-button">
                                                            Accept
                                                        </button>
                                                    </form>
                                                    <form method="POST" action="{% url 'reject_reservation' reservation.id %}" onsubmit="return confirm('Are you sure you want to reject this reservation request?');">
                                                        {% csrf_token %}
                                                        <button type="submit" class="reject-button">
                                                            Reject
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-card">
                                            <p class="food-card-detail request-message">
                                                <strong>Message:</strong>
                                                {{ reservation.message|default:"No message provided." }}
                                            </p>
                                        </div>
                                    </article>
                                    {% empty %}
                                    <p class="empty-message">
                                        No pending reservation requests for this listing yet.
                                    </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
                {% endif %}
            </section>
        </main>
    </body>
</html>
